<menu>Bog loading...</menu>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header"></h1>
      <h3>I <i class="fa fa-heart-o" aria-hidden="true"></i> code</h3>
      <h3> Lazi means: Code simple and effective ^_^ </h3>
      <br>
      Participant on the Stack Overflow <a href="https://stackoverflow.com/users/4022390/jerry06">
        <img src="https://stackoverflow.com/users/flair/4022390.png" width="208" height="58"
             alt="profile for Jerry06 at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
             title="profile for Jerry06 at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
    </div>
    <blog_widgets></blog_widgets>
  </div>
  <hr>
  <footer>Bog loading...</footer>
</div>

